
#project-list {
  display: flex;
  flex: 1;
  overflow-x: hidden;
}

.project-card {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  margin: 0 21px 21px 21px;
  width: 512px;
  border-radius: 21px;
}

.project-card:first-of-type {
 margin-left: 42px;
}

.project-card img {
    width: 512px;
}

.card-title {
  font-size: 1.5rem;
  margin: auto 21px 42px 21px;
  text-align: center;
}

.card-description {
  font-size: 0.8rem;
}

@media screen and (max-width: 700px) {
  .project-list {
    position: relative;
    text-align: center;
    margin: 4px;
    font-size: 1.4rem;
  }
}
