:root {
    --background: black;
    --text-color: white;
}

html {
    background-color: var(--background);
    cursor: none;

}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;
    filter: invert();
    margin: 10px;

}

.main-link {
    font-size: 2.5rem;
    filter: none;
    text-decoration-line: underline; 
}

img, #peacock{
    position: absolute;
    width: 30%;
    top: 25%;
    left: 35%;
    z-index: -1;
  
}

.top,
.left,
.bottom,
.right {
    position: absolute;
    padding: 10px;
    display: grid;
    margin: 4vw;
    font-size: 2.1rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.top {
    top: 0;
}

.right {
    right: 0;
    text-align: right;
}

.left {
    left: 0;
}

.bottom {
    bottom: 0;
}

/* Mouse div */
#mouse-div {
    position: absolute;
    z-index: -1;
    width: 420px;
    height: 420px;
    background-color: var(--background);
    opacity: 50%;
    filter: invert();
    border-radius: 50%;
}

/* Mobile styles */
@media only screen and (max-width: 600px) {

    .top,
    .right,
    .left,
    .bottom {
        position: relative;
        margin: 2vh auto;
        text-align: center;
    }
}